footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0 Copyright &copy; 2024 All rights reserved 
            .col-auto
                //a.small(href='#!') Privacy
                //span.mx-1 &middot;
                a.small(href='https://www.di.univr.it/') Department of Computer Science, University of Verona.
                span.mx-1 &middot;
                a.small(href='https://infomics.github.io/InfOmics/') InfOmics Lab