doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Gospel Ozioma Nnadi - Profile page

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase Research &middot; Develop &middot; Innovate
                                .fs-3.fw-light.text-muted This Site is Work in progress
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Phd student in computer science
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-primary.btn-lg.px-5.py-3.me-sm-3.fs-6.fw-bolder(href='resume.html') Resume
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='projects.html') Projects
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    // TIP: For best results, use a photo with a transparent background like the demo example below
                                    // Watch a tutorial on how to do this on YouTube (link)
                                    img.profile-img(src='assets/gospelprofile.png', alt='...')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug
                             

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline About Me
                                p.lead.fw-light.mb-4 My name is Gospel Ozioma Nnadi,
                                p.text-muted PhD student in Computer Science at the University of Verona, Italy. Am part of the research group at the InfOmics Lab. My research is centred on the development of algorithms and innovative methods for bioinformatics and multi-omics data analysis, under the framework of the Extended Partnership "HEAL ITALIA", area of intervention "6. Innovative diagnostics and therapies in precision medicine”. 
                                i.bi.bi-envelope  Get in touch! : gospelozioma.nnadi@univr.it
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://twitter.com/gospelOnnadi") 
                                        i.bi.bi-twitter
                                    a.text-gradient(href="https://www.linkedin.com/in/gospel-ozioma-nnadi-92166618b") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com/gospelnnadi") 
                                        i.bi.bi-github
                                    

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
